table,
th,
td {
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    border-spacing: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 10rem;
}

thead{
    /* border-width: 1px 1px 0px 1px;
    border-color: black;
    border-style: solid; */
    background-color: aquamarine;
}

#form-place-input{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;

}

tbody tr:hover{
    background-color: beige;
}

table{
    padding: .5rem;
    border: 1px solid aquamarine;
    border-radius: 1rem;
}

th:first-child{
    /* background-color: aquamarine; */
    /* border-width: 0rem .5rem .5rem 0rem; */
    /* border-radius: 1rem; */
}