@font-face {
    font-family: airstream;
    src: url("../fonts/Airstream-webfont.svg");
    src: url("../fonts/Airstream-webfont.woff");
}

@font-face {
    font-family: lakeshor;
    src: url("../fonts/LAKESHOR-webfont.svg");
    src: url("../fonts/LAKESHOR-webfont.woff");
}

:root {
    --thumbnails-img-width: 28vw;
    /*Объявление переменной*/
    --thumbnails-img-height: calc(var(--thumbnails-img-width) * 0.85);
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.3);
}

.hidden .thumbnails-title{
    font-size: 1.5em;
}

.hidden .thumbnails-list{
    margin-top: 16px;
    max-height: 80vh;
}

main.hidden {
    --thumbnails-img-width: 40vw;
    --thumbnails-img-height: calc(var(--thumbnails-img-width) * 0.85);
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.3);
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 0;
    overflow: hidden;
}

header {
    text-align: center;
    background-color: antiquewhite;
}

.logo {
    font-size: 1.6em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-transform: uppercase;
    letter-spacing: 1.2em;
    margin-left: 1.2em;
    font-family: lakeshor;
}

main {
    display: flex;
    flex-direction: column;
}

.thumbnails-anchor {
    text-decoration: none;
}

.details-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    
    transition: .5s; /*время развертывания*/
}

.details-image {
    width: 55vw;
    height: 62vw;
    border-radius: 20%;
}

.details-container {
    position: relative;
    size: 80%;
}

.details-title {
    display: none;
    background-color: bisque;
    font-style: italic;
    font-size: 1em;
    position: absolute;
    text-align: center;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    font-family: airstream;
    font-size: 2em;
    padding: 0 1rem 0 1rem;
    white-space: nowrap;
}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-height: 35vh;
    overflow-y: auto;
    padding: 10px;
    justify-content: space-around;
    margin-top: 2vh;
}

.thumbnails-item {
    text-align: center;
    overflow: hidden;
    border: solid 1px chocolate;
    background-color: bisque;
    border-radius: 25%;
    max-width: var(--thumbnails-img-width);
    min-width: var(--thumbnails-img-width);
    /* min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height)); */
    min-height: calc(var(--thumbnails-img-height));
    margin-top: 3vh;
}

.thumbnails-item:hover {
    border-color: green;
    transform: scale(1.1);
}

.thumbnails-image {
    display: block;
    /*Использование переменной*/
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
}

.thumbnails-title {
    /* display: none; */
    text-align: center;
    background-color: bisque;
    font-size: 1.5vh;
    height: var(--thumbnails-title-height);
}

.hidden .details-section{ /*hidden - родитель, details-section - любой ребенок*/
    display: none;
}

main.hidden{ /*У main есть класс hidden*/
    background-color: red;
}

.thumbnails-list::-webkit-scrollbar{
    display: none;
}

.hide-button{
    font-size: 1em;
    position: absolute;
    background-color: transparent;
    top: 3vh;
    right: 3vh;
    border-radius: 25%;
}

.hidden .thumbnails-title{
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.115);
}

.point{
    transform: scale(0.001);
    transition: 0s; /*время свертывания (должно быть <= времени в SetTimeout*/
}

@media (min-width: 650px) {
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: calc(var(--thumbnails-img-width) * 0.75);
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.2);
    }

    main.hidden{
        --thumbnails-img-width: 15vw;
    }

    .hidden .thumbnails-title{
        font-size: 0.75em;
    }

    .thumbnails-list {
        flex-wrap: nowrap;
        max-height: 80vh;
        flex-direction: column;
        justify-content: start;
        margin-left: 3vw;
    }

    .hidden .thumbnails-list{
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 80vh;
        margin-top: 10vh;
        font-size: 1.5em;
    }

    main {
        flex-direction: row-reverse;
        justify-content: start;
    }

    .thumbnails-title {
        /* display: none; */
        margin: 10px;
        height: 2.5em;
        font-family: "press Start 2P", "consolas", sans-serif;
    }

    .details-image {
        width: 40vw;
        height: 40vw;
        border-radius: 10%;
    }

    .details-section {
        margin: auto;
    }

    .details-title {
        /* display: none; */
        font-size: 2em;
        /* width: 65%; */
    }

    .hidden .thumbnails-list{ /*Применится для thumbnails-list, если у любого родителя есть hidden*/
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1em;
    }

    .hidden .thumbnails-item{
        margin-top: 0;
    }

    .thumbnails-item:hover{
        /* margin-top: auto;
        margin-bottom: auto; */
    }

}

@media (min-width: 1000px) {}